name: Continuous Integration

on: push

env:
    CARGO_TERM_COLOR: always

jobs:
    ci-2024:
        runs-on: ubuntu-latest
        name: Continuous Integration
        steps:
            - uses: actions/checkout@v4
            - name: Set up cargo cache
              uses: actions/cache@v4
              continue-on-error: false
              with:
                path: |
                    ~/.cargo/bin/
                    ~/.cargo/registry/index/
                    ~/.cargo/registry/cache/
                    ~/.cargo/git/db/
                    target/
                key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
                restore-keys: ${{ runner.os }}-cargo-
            - name: cargo test
              working-directory: ./2024/rust
              run: cargo test
            # - name: cargo clippy
            #   working-directory: ./2024/rust
            #   run: cargo clippy -- -D warnings
            - name: cargo fmt
              working-directory: ./2024/rust
              run: cargo fmt --check
  ci-2025:
      runs-on: ubuntu-latest
      name: Continuous Integration
      steps:
          # python ci for 2025 and check if files are formatted with black
          - uses: actions/checkout@v4
          - name: Set up Python
            uses: actions/setup-python@v4
            with:
                python-version: '3.x'   
          - name: Install dependencies
            run: pip install black      
            working-directory: ./2025/
          - name: Check code formatting
            run: black --check .
            working-directory: ./2025/

          
      